.wrapper{
    width: 1100px;
    margin: 0 auto;
    background-color: #06161A;
    padding: 80px 20px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(241, 240, 240, 0.35) 0px 5px 15px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-bottom: 70px;
}