body{
    padding: 0;
    margin: 0;
    background-color: #040E14;
}
.cover{
    border: #040E14 10px solid;
    border-radius: 20px;
    height: 100vh;
    background-image: url('/img/cover2.JPG');
    background-size: cover;
    background-position: bottom;
    h1{
        margin: 0;
        text-shadow: rgb(213, 212, 212) 3px 3px 50px;
        color: #093bde;
        font-family: Blippo, fantasy;
        letter-spacing: 10px;
        text-align: center;
        padding-top: 50px;
        font-size: 90px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        // transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent 0.5s 1s linear 1 forwards;
    }
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        // transform: translateY(0);
    }
}